
header {
    width: 600px;
    color: rgb(3, 3, 3);
    border-radius: 990px;
    font-weight:620x;
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid rgb(195, 195, 10); */
}

.lose_alert {
    background: rgb(110,68,68);
    background: linear-gradient(108deg, rgba(110,68,68,0.8968837535014006) 10%, rgba(110,68,68,0.5747549019607843) 28%, rgba(249,0,0,0.4431022408963585) 75%);
    width: 600px;
    color: rgb(3, 3, 3);
    border-radius: 20px;
    font-weight:620x;
    font-size: large;
    text-align: center;
    display: none;
    /* border: 3px solid rgb(195, 195, 10); */
}

.lose_alert_icon {
    background-image: url(../img/pngwing.com.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    display: inline-block;
}


.anubis_header_boxs {
    display: inline-block;
}
.anubis_boxs_1,.anubis_boxs_2,.anubis_boxs_3{
    display: inline-block;
    padding: 7px;
    margin: 5px;
    transform: rotate(45deg);
    border: 1.5px solid rgb(191, 191, 1);
    background-color: rgb(0, 109, 0);
}

.anubis_boxs_4 {
    display: inline-block;
    padding: 7px;
    margin: 5px;
    transform: rotate(45deg);
    border: 1.5px solid rgb(191, 191, 1);
    background-color:brown
}

.anubis_icon_header {
    background-image: url(../img/free-icon-anubis-6359795.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 45px;
    display: inline-block;
}

.anubis_icon {
    padding: 29px;
    display: inline-block;
}
.anubis_txt {
    font-size: x-large;
    font-weight: bold;
    color:gold;
}

.anubis_header_contain {
    background: url(../img/headbg.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 10px;
}





/* *********************************************** ra */
.ra_header_contain {
    background: url(../img/Egyptian\ Hieroglyphs\ Seamless\ Pattern\ Stock\ Vector\ -\ Illustration\ of\ papyrus\,\ script_\ 73970938.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    color: black;
}

.ra_icon_header {
        background-image: url(../img/slot-machine-ancient-egypt-game-casino-egypt-9e813ac572878eb6db8ae0af20c7633e.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 45px;
        display: inline-block;
}
.ra_header_boxs {
    display: inline-block;
}
.ra_boxs_1,.ra_boxs_2,.ra_boxs_3{
    display: inline-block;
    padding: 7px;
    margin: 5px;
    transform: rotate(45deg);
    border: 1.5px solid rgb(191, 191, 1);
    background-color: rgb(123, 20, 20);
}

.ra_boxs_4 {
    display: inline-block;
    padding: 7px;
    margin: 5px;
    transform: rotate(45deg);
    border: 1.5px solid rgb(191, 191, 1);
    background-color:rgb(4, 82, 1)
}

.ra_txt {
    font-size: xx-large;
    font-weight: 900;
    color: black;
}
