.startConteiner {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 1px;
}

.bid_plus_minus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    padding: 3px;

}


.bid_plus_minus  {
    background-color: rgba(30, 30, 31, 0.788);
    font-size: x-large;
    border-radius: 7px;
    color: aliceblue;

}
.bid_plus {
    background-color: rgba(0, 255, 255, 0);
    border: none;
    font-size: x-large;
    cursor: pointer;
    color: aliceblue;
}
.bid_minus {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: x-large;
    cursor: pointer;
    color: aliceblue;
}

.bids_all_conteiner {
    display: flex;
    justify-content: space-between;
    width: 250px;  
}
.bids_all {
    background-color: rgba(42, 49, 45, 0.748);
    border: none;
    font-size: large;
    cursor: pointer;
    color: aliceblue;
    border-radius: 10px;
    padding: 4px;
    width: 70px;
    margin-top: 4px;
}
.bids_all:hover {
    background-color: rgb(42, 49, 45) ;
}

.start_btn {
    width: 150px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(9, 224, 19, 0.58) 0%, rgba(10, 220, 19, 0.58) 2%, rgba(21, 167, 17, 0.58) 43%, rgba(28, 134, 16, 0.58) 76%, rgba(31, 122, 16, 0.58) 100%) no-repeat center center/100% 4.25em,linear-gradient(180deg, #48D253 0%, #1C9D22 100%);
    color: aliceblue;
    font-size: large;
    cursor: pointer;
}

.start_btn:hover {
    background-color: rgb(0, 128, 0);
}

.start {
    width: 600px;
    /* background: rgba(218, 165, 32, 0.351);
    background-size: cover; */
    border-radius: 20px;
    justify-content: center;
    padding: 10px;
    margin-top: 3px;
    
}


.boxNumber {
    background-color: black;
}

.hiden_start_contain {
    cursor: pointer;
    text-align: center;
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,71,182);
    background: linear-gradient(108deg, rgba(0,71,182,0.768032212885154) 23%, rgba(0,134,255,0.6811974789915967) 54%);    border-radius: 30px;
    font-size: xx-large;
    color: goldenrod;
    margin-top: 6px;
    display: none;
}


@media (max-width:420px) {

    .bid_plus_minus {
        width: 210px;
        font-size: 14px;
    }
    .bids_all {
        font-size: 14px;
    }
    .bids_all_conteiner {
        width: 210px;
    }
    .start_btn {
        width: 130px;
        font-size: 14px;
        padding: 1px;
    }
    .start {
        width: 400px;
        font-size: 14px;
        padding: 10px;

    }
}
@media (max-width:360px) {

    .bid_plus_minus {
        width: 160px;
        font-size: 14px;
    }
    .bids_all {
        font-size: 14px;
    }
    .bids_all_conteiner {
        width: 160px;
    }
    .start_btn {
        width: 100px;
        font-size: 12px;
    }
    .start {
        width: 330px;
        font-size: 12px;
        padding: 8px;

    }
}

@media (max-width:320px) {


    .start {
        width: 300px;
        font-size: 12px;
        padding: 8px;

    }
}