.body_anubis{
  background:url(../img/118Z_2012.w026.n002.10B.p1.10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.body_ra{
  background:url(../img/bgsun.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

